---
title: Games Portfolio
permalink: /portfolio/games/
layout: folio
excerpt: All post.
comments: false
---

<!--<div class="search-article">
  <label for="search-input" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="rgba(128,128,128,0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
  </label>
  <input type="search" id="search-input" placeholder="Find some articles here" aria-label="Search">
</div>

<ul id="search-results"></ul>-->

{%- assign folio=site.portfolio | sort_natural: "order" -%}
{%- for post in folio -%}
  {% if post.tags contains "game" %}
    {% if post.hide != true %}
    <article class="post-item">
      <h1 style="width:100%;" class="header-title">
        <a style="width:100%" href="{{ post.url }}">
        {{ post.title | escape }}
        <div width=100% style="float: right;">
        {% assign icons = post.sw | split: ", " %}
        {% for icon in icons %}
          <img class="logo" alt="{{icon}}" src="/assets/img/soft/{{ icon }}.svg" style="display:inline-flex; padding-left:3px; height: 18px; vertical-align: -5%;">
        {% endfor %}
        </div>
        </a>
      </h1>
    </article>
    <img src="{{ post.thumbnailUrl }}" alt="{{post.title}}" border=0/>
    {% endif %}
  {% endif %}
{%- endfor -%}