---
title: Portfolio
permalink: /portfolio/
layout: folio
excerpt: All post.
comments: false
---

<!--<div class="search-article">
  <label for="search-input" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="rgba(128,128,128,0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
  </label>
  <input type="search" id="search-input" placeholder="Find some articles here" aria-label="Search">
</div>

<ul id="search-results"></ul>-->

{%- assign folio=site.portfolio | sort_natural: "order" -%}
{%- for post in folio -%}
  {% if post.hide != true %}
    {% if post.tags contains "graphic" %}
      <article class="post-item">
        <div style="width:70%; display: inline; justify-items: left;">
          <h1 class="header-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        </div>
        <a href="{{ post.url }}" style="width:30%; display:inline; justify-items: right;">
          <div id="logos" style="display:inline; justify-items: right;">
            {% assign icons = post.sw | split: ", " %}
            {% for icon in icons %}
              <img class="logo" alt="{{icon}}" src="/assets/img/soft/{{ icon }}.svg" style="display:inline-flex; height: 24px; float: right; padding: 2px; padding-top: 40px;">
            {% endfor %}
          </div>
        </a>
      </article>
      <a href="{{ post.url }}">
        <img src="{{ post.thumbnailUrl }}" alt="{{post.title}}" border=0/>
      </a>
    {% endif %}
  {% endif %}
{%- endfor -%}
